<div class="container mt-4">
    <h2 class="text-center">Lista de Funcionários</h2>

    <!-- Campo de pesquisa -->
    <input type="text" class="form-control mb-3" [(ngModel)]="pesquisa" placeholder="Pesquisar por nome ou função">

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Data de Admissão</th>
                <th>Salário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let funcionario of funcionarios | filter:pesquisa">
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.funcao }}</td>
                <td>{{ funcionario.dataAdmissao }}</td>
                <td>{{ funcionario.salario | currency:'BRL' }}</td>
                <td>
                    <button class="btn btn-outline-danger btn-sm me-3" (click)="confirmarDelecao(funcionario.id)">
                        <i class="bi bi-trash"></i> Deletar
                    </button>
                    <button class="btn btn-outline-warning btn-sm" [routerLink]="['/funcionario/edit', funcionario.id]">
                        <i class="bi bi-pencil-square"></i> Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" [routerLink]="['/funcionario/new']">Adicionar Novo Funcionário</button>

    <!-- Alerta de Confirmação -->
    <div *ngIf="mostrarAlerta" class="alerta-confirmacao">
        <p>Tem certeza de que deseja excluir este funcionário?</p>
        <button class="btn btn-success" (click)="deletarFuncionario(confirmarId)">Sim</button>
        <button class="btn btn-danger" (click)="cancelarDelecao()">Não</button>
    </div>
</div>
